<style>
  /* header */
  header {
    z-index: 99;
    position: fixed;
    top: 0;
    padding: 10px 0;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
  }

  header .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  h1 > a {
    display: block;
    width: 133px;
    height: 62px;
    background: no-repeat center/cover url('/img/header-logo.png');
  }

  .login {
    color: #ff2e00;
    font-weight: bold;
    text-decoration: none;
  }

  .mypagebtn {
    color: #ff2e00;
    font-weight: bold;
    text-decoration: none;
  }
</style>

<header>
  <div class="wrap">
    <h1><a href="/"></a></h1>
    <div style="display: flex">
      <% if (locals.user) { %>
      <p class="username">안녕하세요, <%= locals.user.email %>님</p>
      <a class="logout" href="/">로그아웃</a>
      <% } else if (locals.owner) { %>
      <p class="username">안녕하세요, <%= locals.owner.email %>님</p>
      <a class="logout" href="/">로그아웃</a>
      <% } else { %>
      <a class="login" href="/login">로그인</a>
      <% } %>
    </div>
  </div>

  <script>
    const logoutButton = document.querySelector('.logout');
    logoutButton.addEventListener('click', async () => {
      try {
        const response = await fetch('/logout', {
          method: 'POST',
        });

        const data = await response.json();
        alert(data.message);
        window.location.reload();
      } catch (error) {
        console.error('로그아웃 도중 오류가 발생했습니다.', error);
      }
    });
  </script>
</header>
