<style>
  /* header */
  header {
    z-index: 99;
    position: fixed;
    top: 0;
    padding: 10px 0;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
  }

  header .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  h1 > a {
    display: block;
    width: 257px;
    height: 53px;
    background: no-repeat url('/img/logo2.png');
  }

  .login {
    color: #ff2e00;
    font-weight: bold;
    text-decoration: none;
  }

  .mypagebtn {
    color: #ff2e00;
    font-weight: bold;
    text-decoration: none;
  }
</style>

<header>
  <div class="wrap">
    <h1><a href="/"></a></h1>
    <div style="display: flex">
      <a class="login" href="/login">로그인</a>
    </div>
  </div>
</header>
