<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>home</title>
    <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/index.css" />

    <!-- <script src="/js/index.js" defer></script> -->
  </head>
  <body>
    <%- include('includes/header') %>
    <main>
      <section class="search wrap">
        <img src="/img/5giyo.png" class="text-logo" alt="" />

        <div class="search-container">
          <input type="text" id="searchInput" placeholder="검색어를 입력해주세요." />
          <button id="searchButton">검색</button>
        </div>
      </section>
      <section class="feed wrap">
        <ul class="feed-container" id="best12list">
          <li data-category-id="0"><a href="#">전체보기</a></li>
          <li data-category-id="1"><a href="#">1인분</a></li>
          <li data-category-id="2"><a href="#">프랜차이즈</a></li>
          <li data-category-id="3"><a href="#">치킨</a></li>
          <li data-category-id="4"><a href="#">피자</a></li>
          <li data-category-id="5"><a href="#">야식</a></li>
          <li data-category-id="6"><a href="#">일식</a></li>
          <li data-category-id="7"><a href="#">중식</a></li>
        </ul>
      </section>
    </main>
    <%- include('includes/footer') %>
    <script>
      const searchButton = document.getElementById('searchButton');
      const searchInput = document.getElementById('searchInput');

      searchButton.addEventListener('click', () => {
        searchStores();
      });

      function searchStores() {
        const searchString = searchInput.value.trim();

        if (searchString === '') {
          alert('검색어를 입력하세요.');
        } else {
          window.location.href = `/search?searchString=${encodeURIComponent(searchString)}`;
        }
      }

      function searchStoresByCategory(categoryId) {
        const searchStringBycategoryId = categoryId;
        window.location.href = `/search?searchStringByCategoryId=${encodeURIComponent(
          searchStringBycategoryId,
        )}`;
      }

      const categoryItems = document.querySelectorAll('.feed-container li');
      categoryItems.forEach((item) => {
        item.addEventListener('click', () => {
          const categoryId = item.getAttribute('data-category-id');
          searchStoresByCategory(categoryId);
        });
      });
    </script>
  </body>
</html>
