<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/js/menu-modification.js" defer></script>
    <link rel="stylesheet" href="/css/menu-modification.css" />
    <title>메뉴 수정</title>
  </head>
  <body>
    <%- include('includes/header') %>
    <section>
      <h2>메뉴 수정</h2>

      <form id="menu-register-form">
        <div class="mb-3">
          <label for="menu-name" class="form-label">메뉴 이름</label>
          <input type="text" class="form-control" id="menu-name" required /><br /><br />
        </div>
        <div class="mb-3">
          <label for="menu-price" class="form-label">메뉴 가격</label>
          <input type="text" class="form-control" id="menu-price" />
        </div>

        <label for="menuImage">메뉴 이미지</label>
        <br /><br />
        <div id="image-container">
          <button type="button" class="image-upload btn btn-outline-danger">이미지 업로드</button>
        </div>

        <input type="file" id="menuImage" name="menuImage" accept="image/*" /><br />

        <button type="submit" class="btn btn-primary">메뉴 수정</button>
      </form>
    </section>
    <%- include('includes/footer') %>
  </body>
</html>
