<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메뉴 관리</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/menu-management.css" />
    <script src="/js/menu-management.js" defer></script>
  </head>
  <body>
    <%- include('includes/header') %>
    <main>
      <section class="menu wrap">
        <h2 class="menus">메뉴 목록</h2>
        <button id="menu-add">메뉴 추가</button>

        <ul class="menu-list"></ul>
      </section>
    </main>

    <%- include('includes/footer') %>
  </body>
</html>
