<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('includes/favicon') %>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>주문확인 페이지</title>
    <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" rel="stylesheet" />
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
    <link rel="stylesheet" href="/css/owner-order.css" />
    <script src="/js/order-check.js" defer></script>
  </head>
  <body>
    <%- include('includes/header') %>
    <main>
      <div class="pop-up">
        <p class="pop-up-text">주문이 들어왔습니다!</p>
        <button class="delete-btn">x</button>
      </div>
      <section class="order wrap">
        <ul class="orders-list">
          <!-- <li>
            <div class="isDelivered"></div>
            <div class="order-number"></div>
            <div class="address"></div>
            <div class="phone"></div>
            <div class="store-name"></div>
            <div class="menu-name"></div>
            <div class="total-price"></div>
          </li> -->
        </ul>
      </section>
    </main>
    <%- include('includes/footer') %>
  </body>
</html>
