<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="/js/order-check.js" defer></script>
  </head>
  <body>
    <h1>주문 확인</h1>
  </body>
</html>
