<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/js/store-management.js" defer></script>
    <title>가게 관리</title>
  </head>
  <body>
    <header>
      <!-- 헤더 내용 -->
    </header>
    <style>
      .store-info {
        border-style: solid;
      }
    </style>
    <!-- 가게관리, 주문 확인, 메뉴 관리 페이지로 이동 버튼 -->
    <div class="button-container">
      <button id="store-management">가게 관리</button>
      <button id="order-check">주문 확인</button>
      <button id="menu-management">메뉴 관리</button>
    </div>

    <div>
      <button id="store-create">가게 등록</button>
    </div>

    <div class="store-info">
      <div class="image">
        <!-- TODO: 가게 사진이 없을시 기본 사진 src에 추가 -->
        <img class="store-image" src="/img/store_logo.jpg" alt="" />
      </div>
      <div class="store-details">
        <div class="store-name">
          <!-- 가게 이름 -->
          🔴가게 이름
        </div>
        <div class="store-category">
          <!-- 음식점 카테고리 -->
          🔴카테고리
        </div>
        <div class="store-address">
          <!-- 주소 -->
          🔴가게 주소
        </div>
      </div>
    </div>
    <div class="store-status">
      <!-- 가게 상태 -->
      준비중
    </div>
    <button id="store-update">수정</button>
    <div>
      <button id="store-delete">삭제</button>
    </div>
  </body>
</html>
