<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/store-management.css" />
    <script src="/js/store-management.js" defer></script>
    <title>가게 관리</title>
  </head>
  <body>
    <%- include('includes/header') %> <%- include('includes/store_management_buttons') %>

    <section>
      <div>
        <button class="btn btn-secondary" id="store-register">가게 등록</button>
      </div>

      <div class="store-info">
        <div class="image">
          <img class="store-image" />
        </div>
        <div class="store-details">
          <div class="store-name">
            <!-- 가게 이름 -->
          </div>
          <div class="store-category">
            <!-- 음식점 카테고리 -->
          </div>
          <div class="store-address">
            <!-- 주소 -->
          </div>
          <div class="store-status">
            <!-- 가게 상태 -->
          </div>
        </div>
      </div>

      <div class="button-container">
        <button id="store-update">수정</button>
        <button id="store-delete">삭제</button>
      </div>
    </section>
    <%- include('includes/footer') %>
  </body>
</html>
