<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include('includes/favicon') %>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>주문내역 페이지</title>
    <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/user-orders-check.css" />
    <script src="/js/user-orders-check.js" defer></script>
</head>

<body>
  <%- include('includes/header') %>
    <main>
      <div class="overList">
        <h1 class="title">주문 내역</h1>
        <button class="reviewListBtn">내가 쓴 리뷰 보기</button>
      </div>

      <section class="order wrap">
        <ul class="order-list" id="orderList">
        </ul>
      </section>
    </main>
    <%- include('includes/footer') %>
</body>

</html>