/* common */
body {
  box-sizing: border-box;
  padding-top: 120px;
  font-family: 'Noto Sans KR', sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  display: block;
}
.wrap {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1400px;
}
.order > h2 {
  font-size: 28px;
  font-weight: bold;
  color: #3d3d3d;
}
.order > div {
  margin-top: 32px;
  padding: 12px;
  box-sizing: border-box;
  border: 2px solid #ee2b26;
  border-radius: 10px;
}
.order h3 {
  font-size: 20px;
  font-weight: bold;
  color: #3d3d3d;
}
.info {
}

.address {
  padding-top: 12px;
}

.phone {
  padding-top: 12px;
}
.menu-list {
  margin-top: 20px;
  gap: 40px;
  display: flex;
  flex-wrap: wrap;
}
.menu-list li > div > div {
  padding-top: 12px;
}
.menu-img {
  border-radius: 12px;
  width: 100px;
  height: 100px;
}

.pop-up {
  text-align: center;
  padding: 30px;
  transition: 0.2s;
  visibility: hidden;
  opacity: 0;
  border-radius: 12px;
  position: relative;
  background-color: #ee2b26;
  justify-content: center;
  align-items: center;
  color: #fff;
  display: flex;
  position: absolute;
  width: 300px;
  height: 120px;
  transform: translateX(-50%);
  transform: translateY(-25%);
  left: 50%;
  top: 50%;
}

.pop-up.on {
  visibility: visible;
  opacity: 1;
  transform: translateY(-50%);
}

.pop-up .pop-up-text {
  margin: 0;
  font-size: 20px;
}

.pop-up .delete-btn {
  padding-right: 8px;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
}
