/* common */
* {
  box-sizing: border-box;
}

body {
  padding-top: 120px;
  font-family: 'Noto Sans KR', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  display: block;
}

.wrap {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1400px;
}

.order {
}

.order-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.order-list li {
  padding: 10px;
  border: 2px solid #ee2b26;
  border-radius: 10px;
}

.orders-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.orders-list li {
  padding: 10px;
  border: 2px solid #ee2b26;
  border-radius: 10px;
}

.isDelivered {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 12px;
}

.order-number {
  padding-bottom: 8px;
}

.address {
  padding-bottom: 8px;
}

.phone {
  padding-bottom: 8px;
}

.btn-container {
}

.detail-btn,
.complete-btn {
  cursor: pointer;
  background-color: #ee2b26;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  transition: background-color 0.2s;
}
.detail-btn:hover,
.complete-btn:hover {
  background-color: #ef653c;
}
.detail-btn {
  margin-right: 8px;
}

.complete-btn {
}

.pop-up {
  text-align: center;
  padding: 30px;
  transition: 0.2s;
  visibility: hidden;
  opacity: 0;
  border-radius: 12px;
  position: relative;
  background-color: #ee2b26;
  justify-content: center;
  align-items: center;
  color: #fff;
  display: flex;
  position: absolute;
  width: 300px;
  height: 120px;
  transform: translate(-50%, -25%);
  left: 50%;
  top: 50%;
}

.pop-up.on {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -50%);
}

.pop-up .pop-up-text {
  margin: 0;
  font-size: 20px;
}

.pop-up .delete-btn {
  padding-right: 8px;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  border: none;
}

.total-quantity-divider {
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 1px solid rgba(204, 204, 204, 0.5);
}

.total-price {
  font-size: 20px;
  font-weight: bold;
}
