.header {
  display: flex;
  font-family: 'Gowun Batang', sans-serif;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.logo {
  width: 160px;
  height: 80px;
  margin-left: 0 auto;
}

.title {
  width: 100px;
  height: 40px;
  text-align: center;
  padding-top: 10px;
  margin-top: 20px;
  background-color: #ee2b26;
  color: white;
}

.logoutBtn {
  margin-left: auto;
  margin-top: 20px;
}

.subHead {
  margin: auto;
  text-align: center;
  padding-top: 25px;
  height: 60px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  font-size: large;
}
