/* common */
body {
  box-sizing: border-box;
  padding-top: 120px;
  font-family: 'Noto Sans KR', sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  display: block;
}
.wrap {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1400px;
}
/* common */
section {
  max-width: 900px;
  margin: 0 auto;
}

#store-register {
  margin-bottom: 50px;
  display: none;
}

.store-info {
  display: flex;
  /* justify-content: center; */
}
.store-image {
  margin-right: 50px;
}

.store-details {
  font-weight: bold;
  font-size: 28px;
  color: #333;
}
