/* common */
body {
  box-sizing: border-box;
  padding-top: 120px;
  font-family: 'Noto Sans KR', sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  display: block;
}
.wrap {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1400px;
}
/* common */

#storeImage {
  display: none;
}

section {
  max-width: 800px;
  margin: 0 auto;
}

#image-container img {
  display: block;
  max-width: 300px;
  max-height: 300px;
}
